body {
  margin: 0;
  background-color: black;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(Roboto_Slab/RobotoSlab-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.overlay {
  position: fixed;
  bottom: 10px;
  right: 20px;

  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  color: white;
  opacity: 0.5;

  transition: opacity 1.5s;
}

body:hover .overlay {
  opacity: 0.75;

  transition: opacity 0.2s;
}

abbr {
  cursor: help;
  border-bottom: 1px dashed;
  text-decoration: none;
  display: inline-block;
  line-height: 1.2em;
}

/* Always keep the earth centered */
@media (orientation:landscape) {
  #output {
    height: 90vh;
    width: 90vh;
  }
}
@media screen and (orientation:portrait) {
  #output {
    height: 90vw;
    width: 90vw;
  }
}

#go-to-options {
  fill: white;
  cursor: pointer;
  margin-left: 6px;
  padding: 3px;
  top: 6px;
  position: relative;
}

.extension-only {
  display: none;
}

.extension .extension-only {
  display: initial;
}

/* Optional animation, not enabled */
.animated #output {
  animation: fadein 0.3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}